:root {
    /** stop **/
    --ion-color-stop: #ffcc00;
    --ion-color-stop-rgb: 255, 204, 0;
    --ion-color-stop-contrast: #ffffff;
    --ion-color-stop-contrast-rgb: 255, 255, 255;
    --ion-color-stop-shade: #b38f00;
    --ion-color-stop-tint: #ffdb4d;

    /** running **/
    --ion-color-running: #339933;
    --ion-color-running-rgb: 51, 153, 51;
    --ion-color-running-contrast: #ffffff;
    --ion-color-running-contrast-rgb: 255, 255, 255;
    --ion-color-running-shade: #206020;
    --ion-color-running-tint: #53c653;
}
